<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.news.mapper.UserMapper">
    
    
    <insert id="register" parameterType="com.news.vo.UserVo" keyProperty="id" useGeneratedKeys="true">
        insert into user (user_name,password,create_time,update_time,is_del) values(#{username},#{password},now(),now(),'0')
    </insert>
    
    <select id="selectByUserNameAndPassword" parameterType="com.news.vo.UserVo" resultType="com.news.dto.UserDto">
      select * from user where user_name=#{username} and password=#{password}
    </select>
    
    <select id="validUsernameUnique" parameterType="string" resultType="com.news.vo.UserVo">
        select * from user where user_name=#{username}
    </select>
  
</mapper>
